.draggable {
  width: 7.50rem;
  height: 11rem;
  position: absolute;
}

#d1 {
  background-color:#f00;
}

#d2 {
  background-color:#0f0;
  left: 100px;
}

#d3 {
  background-color:#00f;
  left: 200px;
}

.superviviente {
  position: fixed;
  max-width: 100%;
}
