.ficha {
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  z-index: -1;
}

.cartas {
}

.draggable {
  position: fixed;
  z-index: 2;
  height: 47%;
  width: auto;
  border-radius: 6px;
  border: 1px solid black;
}

#d2 {
  left: 50px;
}

#d3 {
  left: 75px;
}

#d4 {
  left: 80px;
}

#d5 {
  left: 85px;
}

.izquierda {
  position: absolute;
  bottom: 30%;
  left: 76%;
}

.hand {
  transform: scale(0.1);
  margin-bottom: -6.5rem;
  position: absolute;
  bottom: -4%;
  z-index: 10;
  margin-left: -8rem;
}

.hand_dhc {
  transform: scale(0.1);
  margin-bottom: -6.5rem;
  position: absolute;
  bottom: -4%;
  z-index: 10;
  margin-left: -7.5rem;
}

.derecha {
  position: absolute;
  bottom: 30%;
  left: 52%;
}

.paper {
  position: absolute;
  bottom: 30%;
  left: 4%;
}

.delete {
  transform: scale(0.1);
  margin-bottom: -6.5rem;
  position: absolute;
  bottom: -4%;
  z-index: 10;
  margin-left: -7.5rem;
  filter: invert(1);
}

.superviviente {
  position: fixed;
  max-height: 100%;
  width: auto;
  height: 100%;
  top: 0%;
  left: 0%;
}

#muestra {
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: large;
}
