@font-face {
  font-family: crackhouse;
  src: url('./fonts/crackhouse.ttf');
  font-weight: 100;
}

* {
  font-family: Open Sans, crackhouse, sans-serif;
}

.barra {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  background: url('./icons/header-bg-long.jpg') #282323;
  padding-top: 3rem;
  box-shadow: 0 1px 2px #333;
  z-index: 10;
}

#fondo {
  position: fixed;
  background: url('img/tile-5b.jpg') no-repeat center center fixed;
  background-size: cover;
  width:100%;
  height:100%;
  top: 0rem;
  left: 0rem;
  z-index: -2;
}

.foncartap {
  max-height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: -0.5rem 0.9rem 0.9rem 0.5rem rgba(0,0,0,80);
  z-index: 2;
}

.cartap {
  max-height: 80%;
  position: fixed;
  left: 150%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
  z-index: 3;
}

@keyframes postcarta {
        0%	{left: 50%;}
	100%    {left: 150%;}
}

.castasigcss {   
  max-height: 80%;
  position: fixed;
  left: 150%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
  z-index: 4;
}

@keyframes precarta {
        0%	{left: 150%;}
	100%    {left: 50%;}
}

.cartaantcss {
  max-height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.siguiente:after {
  position: fixed;
  right: 0%;
  bottom: 8%;
  display: flex;
  content: url('./icons/arrow_right.png');
  max-width: 100%;
  color: white !important;
  font-size: 26pt;
  padding: 0;
  z-index: 5;
  height: 2em;
  width: 2em;
  opacity: 0.7;
}

.anterior:after {
  left: 0%;
  position: fixed;
  bottom: 8%;
  display: flex;
  content: url('./icons/arrow_left.png');
  max-width: 100%;
  color: white !important;
  font-size: 26pt;
  padding: 0;
  z-index: 5;
  height: 2em;
  width: 2em;
  opacity: 0.7;
}

.num_carta {
  position: fixed;
  top: 1%;
  left: 2%;
  font-size: 2em;
  color: white;
  z-index: 17;
  font-family: crackhouse;
}

.empezar:after {
  right: 5%;
  position: fixed;
  top: 1%;
  display: flex;
  content: url('./icons/start.png');
  max-width: 100%;
  padding: 0;
  z-index: 5;
  height: 2em;
  width: 2em;
}
