.draggable {
  position: absolute;
  width: 9rem;
  height: 9rem;
}

#fondo {
  position: fixed;
  background: url("img/tablero.jpg") no-repeat bottom right fixed;
  background-size: 80% auto;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0rem;
  z-index: -2;
}

#d1, #d2, #d3, #d4, #d5 {
  left: 0%;
  top: 10%;
}

#d6, #d7, #d8, #d9, #d10 {
  left: 0%;
  bottom: 10%;
}
